@media only screen and (max-width: 2000px) {
.mainContainer {
  width: 100%;
  height: 100%;
  margin-left: 20px;
}
.h1 {
  size: 100px;
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.imgCareer {
  size: 150px;
  height: 150px;
  margin-left: 50px;
}
.title {
  size: 50px;
  margin-left: 450px;
  margin-top: 150px;
  margin-bottom: 25px;
}
.Logos {
  width: 15%;
}
.imgLogo {
  width: 15%;
  /* background: silver; */
  float: left;
}

.companyDetails {
  margin-left: 15%;
  /* height: 200px; */
  /* background: silver; */
}
.role {
  margin-left: 60px;
  margin-bottom: 10px;
  font-size: 30px;
}
.companyInformation {
  width: 700px;
  margin-left: 30px;
}

.technicalSkills {
  width: 700px;
  margin-left: 60px;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.ListActivities {
  margin-left: 60px;
  margin-top: 5px;
  width: 900px;
}
.lastItem {
  margin-bottom: 50px;
}
.mainTechnologies {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;
  font-weight: bold;
  color: slategrey;
  font-size: 25px;
}
.sticky {
  position: sticky;
  top: 0;
  padding-top: 0px;
}
.certificates {
  margin-left: 20%;
  margin-bottom: 10px;
  font-size: 20px;
}
.achivements{
  margin-left: 265px;
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
}

@media only screen and (max-width: 506px) {
  .mainContainer {
    width: 100%;
    height: 100%;
    margin-left: 20px;
  }
  .h1 {
    size: 100px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .imgCareer {
    size: 60px;
    height: 60px;
    margin-left: 0px;
  }
  .title {
    size: 20px;
    margin-left: 450px;
    margin-top: 150px;
    margin-bottom: 25px;
  }
  .Logos {
    width: 15%;
  }
  .imgLogo {
    width: 15%;
    /* background: silver; */
    float: left;
  }
  
  .companyDetails {
    margin-left: 15%;
    padding-right: 10px;
    /* height: 200px; */
    /* background: silver; */
  }
  .role {
    margin-left: 10%;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .companyInformation {
    width: auto;
    margin-left: 15px;
    font-size: 10px;
    padding-right: 10px;
  }
  
  .technicalSkills {
    width: auto;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .ListActivities {
    margin-left: 30px;
    margin-top: 5px;
    width: auto;
    font-size: 10px;
    padding-right: 20px;
  }
  .lastItem {
    margin-bottom: 50px;
  }
  .mainTechnologies {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-weight: bold;
    color: slategrey;
    font-size: 12px;
  }
  .sticky {
    position: sticky;
    top: 0;
    padding-top: 0px;
  }
  .certificates {
 display: none;
  }
  .achivements{
   display: none;
  }
}